1 VERSIONINFO
FILEVERSION     0,0,0,0
PRODUCTVERSION  0,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Cadastrador de funcionarios."
      VALUE "FileVersion", "0.0.0"
      VALUE "InternalName", "cadastro"
      VALUE "LegalCopyright", "MIT - License"
      VALUE "OriginalFilename", "projeto.exe"
      VALUE "ProductName", "Cadastro de Funcionarios"
      VALUE "ProductVersion", "0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0416, 1252
  END
END